#!/bin/sh

####################################
# configure your local environment #
####################################

export python_version=3.8.10
export python_packages="\
      nodeenv \
      awscli localstack awscli-local \
      pre-commit"
export node_version=18.9.0
export node_packages="aws-cdk aws-cdk-local"

if [ ! -d ".direnv" ];
then
  #########################################
  # pyenv to install python cli tools into #
  #########################################

  if [ ! -d ".direnv/python-${python_version}" ];
  then
    pyenv install $python_version --force
    layout pyenv $python_version
  fi
  source .direnv/python-*/bin/activate

  ############################################
  # nodeenv to install nodejs cli tools into #
  ############################################

  if [ ! -d ".direnv/nodejs-${node_version}" ];
  then
    nodeenv --node=$node_version --with-npm .direnv/nodejs-$node_version
  fi
  source .direnv/nodejs-*/bin/activate

  ###########################
  # install python packages #
  ###########################

  pip3 install $python_packages

  ###########################
  # install python packages #
  ###########################

  npm install $node_packages
else
  source .direnv/python-*/bin/activate
  source .direnv/nodejs-*/bin/activate
fi

# small issue when overriding PS1 https://github.com/direnv/direnv/wiki/PS1
unset PS1
